body {
    background-color: #303134;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    background-color: #262626;
}

header .logo {
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    float: left;
    font-weight: bold;
}

header .logo:hover {
    color: #fff;
    text-decoration: none;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.ativo {
    color: #fff;
    background-color: #2196f3;
    text-decoration: none;
}
header nav ul li a.ativo-hover {
    color: #fff;
    background: none;
    text-decoration: none;
}

#menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    header {
        padding: 0 20px;
    }

    #menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
        z-index: 1000;
    }

    header nav.menu-ativo {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    color: #666;
    font-size: 1.5rem;
}

footer span a {
    color: #fff;
}

footer span a:hover {
    color: #fff;
    text-decoration: none;
}

.tabela-container {
    padding: 0 10%;
    margin: 75px auto;
    color: #BDC1C6;
}

.tabela-container .tabela-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.tabela-container .tabela-header .tabela-titulo {
    font-size: 1.5rem;
    color: #fff;
}

.tabela-container .tabela-header .tabela-adicionar {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    margin-bottom: 10px;
}

.tabela-container .tabela-header .tabela-adicionar {
    background-color: #46b446;
    color: #fff;
}

.tabela-container .tabela-header .tabela-adicionar:hover {
    background-color: rgba(70, 180, 70, .9);
}

.tabela-container table {
    width: 100%;
    border-collapse: collapse;
}

.tabela-container table thead {
    background-color: #262626;
}

.tabela-container table thead tr th {
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .35px;
    color: #fff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #BDC1C6;
}

.tabela-container table tbody tr td {
    font-size: .9rem;
    letter-spacing: .35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid #BDC1C6;
}

.tabela-container table tbody tr td .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tabela-container table tbody tr td .btns .btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    margin-bottom: 10px;
}

.tabela-container table tbody tr td .btns .btn:last-child {
    margin-bottom: 0;
}

.tabela-container table tbody tr td .btns .btn-editar {
    background-color: #007bff;
    color: #fff;
}


.tabela-container table tbody tr td .btns .btn-editar:hover {
    background-color: rgba(0, 123, 255, .9);
}

.tabela-container table tbody tr td .btns .btn-excluir {
    background-color: #ea3f3f;
    color: #fff;
}

.tabela-container table tbody tr td .btns .btn-excluir:hover {
    background-color: rgba(234, 63, 63, .9);
}

@media (max-width: 768px) {
    .tabela-container table thead {
        display: none;
    }

    .tabela-container table,
    .tabela-container table tbody,
    .tabela-container table tbody tr,
    .tabela-container table tbody tr td {
        display: block;
        width: 100%;
    }

    .tabela-container table tbody tr {
        margin-bottom: 15px;
    }

    .tabela-container table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        min-height: 40px;
    }

    .tabela-container table tbody tr td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 14px;
        text-align: left;
    }
}

.cadastro-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 75px auto;
    padding: 30px;
    background-color: #3c3f44;
    color: #f1f1f1;
}

.cadastro-container .cadastro-titulo {
    font-size: 20px;
    font-weight: 600;
}

.cadastro-container form {
    position: relative;
    margin-top: 16px;
}

.cadastro-container form .campos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cadastro-container form .campos .campos-input {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.cadastro-container form .campos-2 .campos-input {
    width: calc((100% / 2) - 15px);
}

.cadastro-container form .campos-1 .campos-input {
    width: 100%;
}

.cadastro-container form .campos .campos-input>label {
    font-size: .9rem;
    font-weight: 500;
}

.cadastro-container form .campos .campos-input>input,
.cadastro-container form .campos .campos-input>textarea {
    background-color: transparent;
    outline: none;
    font-size: .9rem;
    font-weight: 400;
    height: 42px;
    margin: 8px 0;
    padding: 0 15px;
    color: #f1f1f1;
    border: 1px solid #BDC1C6;
}

.cadastro-container form .campos .campos-input>textarea {
    padding: 15px;
    height: auto;
}

.cadastro-container form .campos .campos-input>input:focus,
.cadastro-container form .campos .campos-input>textarea:focus{
    box-shadow: 0 3px 6px rgba(255,255,255,.1);
    outline: 1px solid #BDC1C6;
}

.cadastro-container form .cadastro-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.cadastro-container form .cadastro-btns .cadastro-btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    margin-bottom: 10px;
}

.cadastro-container form .cadastro-btns .btn-voltar {
    background-color: #e1ca44;
    color: #fff;
}

.cadastro-container form .cadastro-btns .btn-voltar:hover {
    background-color: rgba(225, 202, 68, 0.9);
}

.cadastro-container form .cadastro-btns .btn-submeter {
    background-color: #46b446;
    color: #fff;
    border: none;
    outline: none;
}

.cadastro-container form .cadastro-btns .btn-submeter:hover {
    background-color: rgba(70, 180, 70, .9);
}

@media (max-width: 768px) {
    .cadastro-container form .campos .campos-input {
        width: calc((100% / 1) - 15px); !important;
    }
}

.select2-container--default {
    background-color: #3C3F44 !important;
    border-radius: 0;
    border: 1px solid #BDC1C6;
    outline: none;
    color: #fff !important;
}

.select2-selection__rendered {
    color: #fff !important;
}

.select2-selection {
    background-color: #3C3F44 !important;
    cursor: pointer !important;
}

.select2-selection__choice {
    background-color: #262626 !important;
}

.select2-selection {
    border: none !important;
    outline: none;
}

.select2-results__options {
    background-color: #3C3F44 !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #303134 !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: #262626 !important;
}

.select2-search {
    display: none;
}

.select2 {
    width: 100% !important;
}